<div class="nb"><%= b_user + _('user') %>: <%= link_nice_user(@user) %> </div>
<br>

  <%= link_to(b_add + _('New_subscription'), {:action => 'subscription_new', :id => @user.id}, :id => "add_subscription") %>
  <br><br>

<%= b_info %> <%= _('Activation_start') + " and " + _('Activation_end') + " " + _('values_in_system_time_zone') %>: <%= nice_system_time_string %>
<br><br>

<table width="100%" class="maintable">
  <tr>
    <th align="left"><%= _('Service') %></th>
    <th align="right"><%= _('Price') %> (<%= current_user.currency.name %>)</th>
    <th align="left"><%= _('Memo') %></th>
    <th align="center"><%= _('Added') %></th>
    <th align="center"><%= _('Activation_start') %></th>
    <th align="center"><%= _('Activation_end') %></th>
    <th align="center"><%= _('Time_left') %></th>
        <th></th>
        <th></th>
  </tr>
  <% @subs.each_with_index { |sub, i| %>
      <tr id="line_<%= sub.id %>" class="row<%= (i % 2 + 1).to_s %>">
        <td id="service_name_<%= sub.id %>" align="left"><%= link_to(sub.service.name, {:action => "list"}, :id => "service_name_link_"+ sub.id.to_s) %></td>
        <td id="service_price_<%= sub.id %>" align="right"> <%= nice_number sub.service.price %> </td>
        <td id="memo_<%= sub.id %>" align="left"> <%= sub.memo[0..50] if sub.memo %> </td>
        <td id="added_<%= sub.id %>" align="center"> <%= nice_date_time sub.added %> </td>
        <td id="activation_start_<%= sub.id %>" align="center"> <%=  nice_date_time(sub.activation_start, 0) %> </td>
        <td id="activation_end_<%= sub.id %>" align="center"> <%= sub.activation_end.blank? ? _('until_canceled') : nice_date_time(sub.activation_end, 0) %> </td>
        <td id="time_left_<%= sub.id %>" align="center"> <%= nice_time sub.time_left if sub.service.servicetype == "flat_rate" %></td>
            <td id="edit_<%= sub.id %>" align="center"><%= link_to(b_edit, {:action => 'subscription_edit', :id => sub}, :id => "edit_link_" + sub.id.to_s) %></td>
            <td id="destroy_<%= sub.id %>" align="center"><%= link_to(b_delete, {:action => 'subscription_confirm_destroy', :id => sub}, :id => "destroy_link_" + sub.id.to_s) %></td>
      </tr>
  <% } %>
</table>
