<% content_for :additional_buttons do %>
  <span>
    <%= button_tag _('Add_new_Template'), class: "search-form-button",
        onclick: "location.href = '#{Web_Dir}/aggregate_templates/new'" %>
  </span>
<% end %>

<div class="content-box">
  <div class="table-box">
    <h2><%= _('Aggregate_templates_List') %></h2>
    <div class="table-holder">
      <% if @templates.present? %>
          <table class="table-with-edit-and-delete">
            <tr>
              <th style="text-align: left!important;"><%= _('Name') %></th>
              <th width="10%"></th>
              <th width="10%"></th>
            </tr>
            <% @templates.each do |template| %>
                <tr>
                  <td id="name_<%= template.id %>" style="text-align: left!important;">
                    <%= template.name %>
                  </td>
                  <td id="edit_<%= template.id %>">
                    <%= link_to 'EDIT', {action: :edit, id: template.id}, id: "edit_link_#{template.id}" %>
                  </td>
                  <td id="destroy_<%= template.id %>">
                    <%= button_to 'DELETE', {action: :destroy, id: template.id}, onclick: "return confirm('Are you sure?')", class: 'delete_button', method: :post, id: "delete_link_#{template.id}" %>
                  </td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <%= _('No_Templates') %>
      <% end %>
    </div>
  </div>
</div>