<div class="row">
    <div class="col">
      <%= raw settings_group_text(_('FTP_IP'), 'ftp_host', "ftp_host", {}, {class: 'input'}) %>
      <%= raw settings_group_text(_('FTP_Port'), 'ftp_port', "ftp_port", {}, {class: 'input'}) %>
      <%= raw settings_group_text(_('FTP_Username'), 'ftp_user', "ftp_user", {}, {class: 'input'}) %>
      <%= raw settings_group_text(_('FTP_Pass'), 'ftp_pass', "ftp_pass", {}, {class: 'input'}) %>
      <%= raw settings_group_text(_('FTP_Path_for_archived_calls'), 'ftp_archived_calls_path', "ftp_archived_calls_path", {}, {class: 'input'}) %>
      <%= raw settings_group_text(_('FTP_Path_for_backups'), 'ftp_backups_path', "ftp_backups_path", {}, {class: 'input'}) %>
    </div>
</div>
