<h2><%= _('General') %></h2>
<div class="input-row">
  <div class="label-col">
    <label><%= _('Name') %></label>
  </div>
  <div class="input-col">
    <%= f.text_field :first_name, class: 'input', size: 27, maxlength: 255 %>
  </div>
</div>
<div class="input-row">
  <div class="label-col">
    <label><%= _('Username') %></label>
  </div>
  <div class="input-col">
    <%= f.text_field :username, class: 'input', size: 27, maxlength: 255, autocomplete: :off %>
  </div>
</div>
<div class="input-row">
  <div class="label-col">
    <label><%= _('Password') %></label>
  </div>
  <div class="input-col">
    <%= f.password_field :password, class: 'input', size: 27, maxlength: 255, autocomplete: :off %>
  </div>
</div>
<div class="input-row">
  <div class="label-col">
    <label><%= _('Manager_Group') %></label>
  </div>
  <div class="input-col">
    <%= f.select :manager_group_id, options_for_select(
            manager_groups.map{ |manager_group| [manager_group.try(:name).to_s, manager_group.try(:id).to_i] },
            manager.try(:manager_group_id).to_i
    ) %>
  </div>
</div>