<table width="100%">
  <tr>
    <td align="left"><%= link_to b_add + _('New_payment'), :action => 'new' %></td>
  </tr>
</table>

<br/>

<%= form_tag :action => 'list', :search_pressed => true do %>
    <table class="bordered">
      <tr>
        <td>
          <%= _('From') %>:
        </td>
        <td colspan="3">
          <%= select_datetime(Time.mktime(session[:year_from], session[:month_from], session[:day_from], session[:hour_from], session[:minute_from]), :end_year => Date.today.year+1, :prefix => "date_from", :use_month_numbers => false) %>
        </td>
        <td align="right" colspan="2">
          <%= (link_to b_cross + _('Clear_search'), :action => 'list', :clear => 1) if @m2payments[:clear_search] %>
        </td>
      </tr>
      <tr>
        <td>
          <%= _('To') %>:
        </td>
        <td colspan="6">
          <%= select_datetime(Time.mktime(session[:year_till], session[:month_till], session[:day_till], session[:hour_till], session[:minute_till]), :end_year => Date.today.year+1, :prefix => "date_till", :use_month_numbers => false) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= _('User') %>:
        </td>
        <td>
          <%= select_tag("s_user_id", options_for_select( [[_('All'), '']] + @m2payments[:all].map{ |user| [nice_user_by_id(user.id), user.id.to_s]}, @options[:s_user_id]), :style => "max-width: 170px") %>
        </td>
        <td></td>
        <td>
          <%= _('Currency') %>:
          <%= select_tag("s_currency_id", options_for_select( [[_('All'), '']] + @m2payments[:currencies].map{ |payment| [currency_by_id(payment.currency_id), payment.currency_id]}, @options[:s_currency_id]), :style => "width: 55px") %>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <%= _('Amount_between') %>:
          <%= text_field_tag 's_amount_min', @options[:s_amount_min], "class" => "input", :size => "7", :maxlength => "20" %>
          -
          <%= text_field_tag 's_amount_max', @options[:s_amount_max], "class" => "input", :size => "7", :maxlength => "20" %>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <%= submit_tag _('Search'), :disable_with => _('Processing..') %>
        </td>
      </tr>
    </table>
<% end %>

<br/><br/>

<% if @total_pages > 1 %>
    <%= page_select_header(@options[:page], @total_pages, nil, @options) %>
<% end %>

<table class="maintable" width="100%">
  <tr>
    <th align="center"><%= sortable_list_header("date", _('Date'), @options) %></th>
    <th align="left"><%= sortable_list_header("user_id", _('User'), @options) %></th>
    <th align="right"><%= sortable_list_header("amount", _('Amount'), @options) %></th>
    <th align="right"><%= sortable_list_header("amount_with_tax", _('Amount_with_VAT'), @options) %></th>
    <th align="center"><%= sortable_list_header("currency_id", _('Currency'), @options) %></th>
    <th width="50px"></th>
    <th width="50px"></th>
  </tr>
  <% if @m2payments[:searched] %>
      <% @m2payments[:searched].each_with_index do |m2payment, i| %>
          <tr class="row<%= (i % 2 + 1).to_s %>">
            <td id="date_<%= m2payment.id %>" align="center"><%= nice_user_timezone(m2payment.date) if !m2payment.date.nil? %></td>
            <td id="user_<%= m2payment.id %>" align="left"><%= link_nice_user_by_id(m2payment.user_id.to_i) %></td>
            <td id="amount_<%= m2payment.id %>" align="right"><%= nice_currency(m2payment.amount.to_d, m2payment.exchange_rate) if !m2payment.amount.nil? %></td>
            <td id="amount_with_tax_<%= m2payment.id %>" align="right"><%= nice_currency(m2payment.amount_with_tax.to_d, m2payment.exchange_rate) if !m2payment.amount_with_tax.nil? %></td>
            <td id="currency_<%= m2payment.id %>" align="center" <%= tooltip(_('Exchange_rate'), (nice_number(m2payment.exchange_rate.to_d) if !m2payment.exchange_rate.nil?)) %>>
              <%= currency_by_id(m2payment.currency_id.to_i) if !m2payment.currency_id.nil? %>
            </td>
            <td align="center" width="50px"><%= render 'payment_comment', payment: m2payment %></td>
            <td align="center" id="destroy_<%= m2payment.id %>" width="50px"><%= link_to b_delete, {action: 'destroy', id: m2payment.id}, { data: { confirm: _('Are_you_sure') }, method: :post, id: "delete_link_#{m2payment.id}"} %></td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <th id="total" align="left" colspan="2"><%= _('Total') %>:</th>
    <th id="total_amount" align="right"><%= nice_currency(@totals[:amount]) %> (<%= @default_currency %>)</th>
    <th id="total_amount_with_tax" align="right"><%= nice_currency(@totals[:amount_with_tax]) %> (<%= @default_currency %>)</th>
    <th align="center" colspan="3"></th>
  </tr>
</table>

<% if @total_pages > 1 %>
    </br>
    <%= page_select_header(@options[:page], @total_pages, nil, @options) %>
<% end %>

<script>
    function updateFields(id) {
        var updateUrl = "<%= raw Web_Dir + "/m2_payments/change_comment/" %>" + id;
        new Ajax.Request(updateUrl, {
            method:'get',
            asynchronous: false,
            evalScripts: true,
            parameters: {comment: unescape(encodeURIComponent($('payment_comment_tag_' + id).value))},

            onSuccess:function (transport) {
                Element.toggle('payment_comment_' + id);
                Element.toggle('payment_comment_link_' + id);

            },
            onFailure:function () {
                console.log("failure");
            }
        });
    }
</script>