<h2>Tariff Import v2</h2>
<ul>
  <li><%= link_to('Tariff Rate Import Rules', {controller: :tariff_rate_import_rules, action: :list}) %></li>
  <li><%= link_to('Tariff Templates', {controller: :tariff_templates, action: :list}) %></li>
  <li><%= link_to('Tariff Import Rules', {controller: :tariff_import_rules, action: :list}) %></li>
  <li><%= link_to('Tariff Inbox', {controller: :tariff_inbox, action: :inbox}) %></li>
  <li><%= link_to('Tariff Jobs', {controller: :tariff_jobs, action: :list}) %></li>
  <li><%= link_to('Tariff Link Attachment Rules', {controller: :tariff_link_attachment_rules, action: :list}) %></li>
</ul>